<section class="section">
  <div class="container">
    <div class="columns is-variable">
      <div class="column is-half is-offset-one-quarter is-8-tablet is-offset-2-tablet">
        <h2 class="title is-2 has-text-centered mb-6 tenor">L'équipe de Feedtruck </h2>
        <div class="card is-horizontal columns team-list mb-6">
          <div class="card-content column is-8 is-flex is-flex-direction-column team-column">
            <p class="title is-5 mb-2 web-color tenor">
              Mathieu Paradis
            </p>
            <p class="subtitle is-5 mt-2 manrope">
              Responsable marketing et commercial                  
            </p>
            <p class="description mb-5 manrope">
              Le Kingsman dans l'âme
            </p>
          </div>
          <div class="card-image is-12-mobile column team-list-image">
            <figure class="image"> 
              <%= image_tag("Avatar.png", style:"max-height: 10em; width: auto;")%>
            </figure>
          </div>
        </div>

        <div class="card is-horizontal columns team-list mb-6">
          <div class="card-image is-12-mobile column team-list-image">
            <figure class="image"> 
              <%= image_tag("Avatar.png", style:"max-height: 10em; width: auto;")%>
            </figure>
          </div>
          <div class="card-content column is-8 is-flex is-flex-direction-column team-column-right">
            <p class="title is-5 mb-2 web-color tenor">
              Augustin Berne
            </p>
            <p class="subtitle is-5 mt-2 manrope">
              CTO et amateur de street food                  
            </p>
            <p class="description mb-5 manrope">
              Le Fabien Barthez du Back mon pote
            </p>
          </div>
        </div>

        <div class="card is-horizontal columns team-list mb-6">
          <div class="card-content column is-8 is-flex is-flex-direction-column team-column">
            <p class="title is-5 mb-2 web-color tenor">
              Florent Ngongang
            </p>
            <p class="subtitle is-5 mt-2 manrope">
              Ingénieur architecture logiciel                 
            </p>
            <p class="description mb-5 manrope">
              Le grand fan de Lukaku
            </p>
          </div>
          <div class="card-image is-12-mobile column team-list-image">
            <figure class="image"> 
              <%= image_tag("Avatar.png", style:"max-height: 10em; width: auto;")%>
            </figure>
          </div>
        </div>

        <div class="card is-horizontal columns team-list mb-6">
          <div class="card-image is-12-mobile column team-list-image">
            <figure class="image"> 
              <%= image_tag("Avatar.png", style:"max-height: 10em; width: auto;")%>
            </figure>
          </div>
          <div class="card-content column is-8 is-flex is-flex-direction-column team-column-right">
            <p class="title is-5 mb-2 web-color tenor">
              Nicolas Heckmann
            </p>
            <p class="subtitle is-5 mt-2 manrope">
              Ingénieur architecture logiciel                 
            </p>
            <p class="description mb-5 manrope">
              Le touche à tout
            </p>
          </div>
        </div>

        <div class="card is-horizontal columns team-list mb-6">
          <div class="card-content column is-8 is-flex is-flex-direction-column team-column">
            <p class="title is-5 mb-2 web-color tenor">
              Julien Parat
            </p>
            <p class="subtitle is-5 mt-2 manrope">
              Chef de projet                
            </p>
            <p class="description mb-5 manrope">
              Code plus vite que son ombre
            </p>
          </div>
          <div class="card-image is-12-mobile column team-list-image">
            <figure class="image"> 
              <%= image_tag("Avatar.png", style:"max-height: 10em; width: auto;")%>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>