<div class="section columns">
  <div class="container column is-half is-offset-one-quarter team-list">
    <h2 class="title is-2 has-text-centered mb-6">L'équipe de Feedtruck </h2>

    <div class="box columns is-flex is-align-items-center is-justify-content-space-between m-6">
      <div class="column is-9 box-content">             
        <p class="title is-5 mb-2 web-color">
          Mathieu Paradis
        </p>
        <p class="subtitle is-5 mt-2">
          Responsable marketing et commercial                  
        </p>
        <p class="description mb-5">
          Le Kingsman dans l'âme
        </p>
      </div>
      <figure class="column is-3 box-img image is-flex is-justify-content-center"> 
        <%= image_tag("Avatar.png", style:"max-height: 10em; width: auto;", class:"web-color")%>
      </figure>                                     
    </div>

    <div class="box columns is-flex is-align-items-center is-justify-content-space-between m-6">
      <figure class="column is-3 box-img image is-flex is-justify-content-center"> 
        <%= image_tag("Avatar.png", style:"max-height: 10em; width: auto;")%>
      </figure> 
      <div class="column is-9 box-content has-text-right">             
        <p class="title is-5 mb-2 web-color">
          Augustin Berne
        </p>
        <p class="subtitle is-5 mt-2">
          CTO et amateur de street food                 
        </p>
        <p class="description mb-5">
          Le Fabien Barthez du Back mon pote
        </p>
      </div>                                    
    </div>

    <div class="box columns is-flex is-align-items-center is-justify-content-space-between m-6">
      <div class="column is-9 box-content">             
        <p class="title is-5 mb-2 web-color">
          Florent Ngongang
        </p>
        <p class="subtitle is-5 mt-2">
          Ingénieur architecture logiciel                 
        </p>
        <p class="description mb-5">
          Le grand fan de Lukaku
        </p>
      </div>
      <figure class="column is-3 box-img image is-flex is-justify-content-center"> 
        <%= image_tag("Avatar.png", style:"max-height: 10em; width: auto;")%>
      </figure>                                     
    </div>

    <div class="box columns is-flex is-align-items-center is-justify-content-space-between m-6">
      <figure class="column is-3 box-img image is-flex is-justify-content-center"> 
        <%= image_tag("Avatar.png", style:"max-height: 10em; width: auto;")%>
      </figure> 
      <div class="column is-9 box-content has-text-right">             
        <p class="title is-5 mb-2 web-color">
          Nicolas Heckmann
        </p>
        <p class="subtitle is-5 mt-2">
          Ingénieur architecture logiciel                
        </p>
        <p class="description mb-5">
          Le touche à tout
        </p>
      </div>                                    
    </div>

    <div class="box columns is-flex is-align-items-center is-justify-content-space-between m-6">
      <div class="column is-9 box-content">             
        <p class="title is-5 mb-2 web-color">
          Julien Parat
        </p>
        <p class="subtitle is-5 mt-2">
          Chef de projet                
        </p>
        <p class="description mb-5">
          L'éFRONTé
        </p>
      </div>
      <figure class="column is-3 box-img image is-flex is-justify-content-center"> 
        <%= image_tag("Avatar.png", style:"max-height: 10em; width: auto;", class:"web-color")%>
      </figure>                                     
    </div>
  </div>
</div>