<div class="columns mt-6">
  <div class="column is-half is-offset-one-quarter">
    <h2 class="title has-text-centered">Éditez votre profil</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "customers/shared/error_messages", resource: resource %>
      <div class="field mx-5 my-3">
        <%= f.label :email, class: "label" %>
        <div class="control has-icons-left my-3">
          <%= f.email_field :email, autofocus: true, class: "input", autocomplete: "email", placeholder: "Votre Email" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope icon-primary-color"></i>
            </span>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field mx-5 my-3">
        <%= f.label :password, "Nouveau Mot de Passe", class: "label"%> 
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> caractères minimum</em>
        <% end %>
        <i>(Laissez vide si vous ne souhaitez pas le changer)</i>

        <div class="control has-icons-left my-3">
          <%= f.password_field :password, class: "input", autocomplete: "new-password", placeholder: "Mot de passe" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock icon-primary-color"></i>
            </span>
        </div>
      </div>

      <div class="field mx-5 my-3">
        <%= f.label :password_confirmation, "Confirmation du nouveau Mot de Passe", class: "label" %>
        <div class="control has-icons-left my-3">
          <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock icon-primary-color"></i>
          </span>
        </div>
      </div>

      <div class="field mx-5 my-3">
        <%= f.label :current_password, "Mot de Passe actuel", class: "label" %> <i>(Nous avons besoin de votre mot de passe actuel pour valider les changements)</i><br />
        <div class="control has-icons-left">
          <%= f.password_field :current_password, class: "input", autocomplete: "current-password" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock icon-primary-color"></i>
          </span>
        </div> 
      </div>

      <div class="actions is-flex is-justify-content-center my-4">
        <%= f.submit "Valider", class: "button is-success is-rounded is-normalest-btn mx-2"%>
        <%= link_to "Retour", :back, class:"button is-secondary is-rounded is-normalest-btn mx-2" %>
      </div>
      
    <% end %>
    <div class="has-text-centered my-6">
      <h3 class="title is-5">Si vraiment vous voulez nous quitter ...</h3>
      <%= button_to "Supprimer mon compte", registration_path(resource_name), class: "button is-danger is-rounded is-largest-btn my-2", data: { confirm: "Etes vous sur ?" }, method: :delete %>
    </div>

  </div>
 </div> 