<section class="section">
    <div class="columns">
        <div class="column is-7  box">
            <div class="tabs dashboard-tabs is-boxed">
                <ul>
                    <li class="is-active" data-to_select="orders">
                        <a>Mes commandes</a>
                    </li>
                    <li data-to_select="sales">
                        <a>Mes ventes</a>
                    </li>
                </ul>
            </div>
            <div class="px-2" id="dashboard-tab-content">
                <div id="orders">
                    <h2 class="title is-size-3-mobile tenor">Mes commandes</h2>
                    <% @orders.sort.reverse.each do |order| %>        
                        <div class="box column is-12 is-flex is-align-items-center is-justify-content-space-between index-items">
                            <div class="box-content index-items-content">             
                                <p class="item-title has-text-centered title is-size-5 mb-3 mt-2">
                                <%= order.created_at.strftime("Passée le %d/%m/%Y à %Hh:%M") %>
                                </p>
                                <p class="description subtitle mt-2">
                                <span>Payé: <%= sprintf "%.2f", order.total_price %> €</span>
                                </p>
                                <div class="box-footer mt-3 mb-2">
                                    <button  id="show-order-button", class="button show-order-button is-rounded is-primary", style= "border: transparent" >
                                        Voir plus
                                    </button>
                                </div>
                            </div>
                            <div class="box-content index-items-content">
                                <% if order.order_contents.first.item.picture.attached? %>
                                <%= image_tag order.order_contents.first.item.picture, alt: "food-img", class: "menu-item-img" %>
                                <%else%>
                                <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?cs=srgb&dl=pexels-foodie-factor-566566.jpg&fm=jpg" >
                                <%end%>   
                            </div>                
                        </div>


                       
                        <div class="modal" id="foodtruck-show-order">
                            <div class="modal-background">
                            </div>
                            <div class="modal-content has-background-white py-5 px-5">

                                <div class="columns is-centered is-multiline " >   
                                    <div class="column is-12 my-order-content m-3 is-flex is-flex-direction-column is-align-items-center mb-auto">
                                        <p class="title is-size-4 has-text-centered">Passée Le <%= order.created_at.strftime("%d/%m/%Y à %Hh:%M" ) %> </p>
                                        <p class="subtitle has-text-centered">Par <%= order.customer.first_name %></p>
                                        <% order.order_contents.each do |content| %>
                                            <div class=" my-order-item box column is-12 is-flex is-align-items-center is-justify-content-space-between is-flex-wrap-wrap">
                                                <div class="box-body my-2 is-flex is-align-items-center is-flex-wrap-wrap">
                                                    <figure class="box-img image pb-2 mr-5">
                                                        <%if content.item.picture.attached?%>
                                                            <%= image_tag content.item.picture %>
                                                        <%else%>
                                                            <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?cs=srgb&dl=pexels-foodie-factor-566566.jpg&fm=jpg" alt="food-img" class="menu-item-img">
                                                        <%end%>    
                                                    </figure>
                                                    <div class="box-content mr-5">             
                                                        <p class="item-title title is-size-5">
                                                            <%=content.item.name%>
                                                        </p>
                                                        <p class="item-price subtitle">
                                                            <%=sprintf "%.2f", content.item.price%>€
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="is-flex my-2 is-align-items-center">
                                                    <div class="quantity has-text-centered mr-5">
                                                        <p class="title mb-1 is-size-6">Quantité</p>
                                                        <p class="button is-outlined">1</p>  
                                                    </div>
                                                </div>
                                            </div>
                                        <%end%> 
                                    </div>
                                    <div class="column has-text-centered is-12">
                                        <p class="title is-size-4 ">Payée: <%=sprintf "%.2f", order.total_price %>€ </p>
                                        <%= link_to root_path, class: "button order-ready-button is-rounded is-primary ", style: "border: transparent" do %>
                                            <span>La commande est prête</span>
                                        <% end %>       

                                    </div>
                                </div>
                            </div>
                        </div> 

                    <%end%> 
                </div>
                <div id="sales" class="column is-hidden">
                    <h2 class="title tenor is-size-3-mobile">Mes ventes</h2>
                    <div class="is-flex is-justify-content-space-between is-flex-wrap-wrap">
                        <div class="box box-dashboard" style=" box-shadow: 0 0.5em 1em -0.125em rgba(255, 48, 104, 0.4);">
                            <div class="box-content mb-3">
                                <h3 class="title tenor is-size-4-mobile is-underlined">Aujourd'hui</h3>
                            </div>  
                            <div class="box-footer">
                                <h3 class="subtitle manrope ">Total des ventes : 870,60€</h3>
                            </div>  
                        </div>
                        <div class="box box-dashboard" style=" box-shadow: 0 0.5em 1em -0.125em rgba(255, 48, 104, 0.4);">
                            <div class="box-content mb-3">
                                <h3 class="title tenor is-size-4-mobile is-underlined">Ce mois</h3>
                            </div>  
                            <div class="box-footer">  
                                <h3 class="subtitle manrope">Total des ventes : 1870,60€</h3>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="column is-5 ">
            <h2 class="title is-size-4 tenor ml-4 has-text-centered">Mes votes sur les dernieres 24h</h2>
            <table class="table is-fullwidth" style="min-height: 15rem;">
                <tbody>
                
                
                <% i = 0  %><% j = 0  %>
                <% until i >= 5 %>

                <tr class="border-dashboard">
                    <th class="is-vcentered"><%= j+1 %>.</th>
                    <td class="is-vcentered">
                        <div class="is-flex is-align-items-center">
                            <% if @votes_ranking[i+1] != nil %>
                                <i class="fas fa-thumbs-up fa-2x"></i>
                                <div class="likes-count" style="background-color: black; border-radius: 50%; width: 25px; height: 25px;">
                                    <p class="has-text-centered" id="likes-count" style="color: white;"><%= @votes_ranking[i+1] %></p>   
                                </div>
                            <% end %>
                        </div>
                    </td>  
                    <td class="is-vcentered">
                        <% if @votes_ranking[i+1] != nil %>
                            <%= Location.find(@votes_ranking[i]).adress %>, <%= Location.find(@votes_ranking[i]).name %>
                        <% end %>
                    </td>
                </tr>
                <% i += 2 %><% j += 1 %>
                <% end %>

                </tbody>
            </table>
        </div> 

    </div>	
</section>
