<p id="notice"><%= notice %></p>

<h1>Foodtruck Dashboards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodtruck_dashboards.each do |foodtruck_dashboard| %>
      <tr>
        <td><%= link_to 'Show', foodtruck_dashboard %></td>
        <td><%= link_to 'Edit', edit_foodtruck_dashboard_path(foodtruck_dashboard) %></td>
        <td><%= link_to 'Destroy', foodtruck_dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foodtruck Dashboard', new_foodtruck_dashboard_path %>
