<%= render partial: 'header', locals: {current_myfoodtruck_foodtruck: current_myfoodtruck_foodtruck}%>
<section class="section">
    <div class="columns is-justify-content-space-around">
        <div class="column is-7 box m-2">
            <div class="tabs dashboard-tabs is-boxed">
                <ul>
                    <li class="is-active" data-to_select="orders">
                        <a>Mes commandes</a>
                    </li>
                    <li data-to_select="sales">
                        <a>Mes ventes</a>
                    </li>
                </ul>
            </div>
            <div class="px-2" id="dashboard-tab-content">
                <div id="orders">
                    <h2 class="title is-2 is-size-3-mobile is-text-primary">Mes commandes en cours</h2>
                    <% if @orders.count == 0 %>
                        <p class="is-size-6 pb-2"> Vous n'avez aucune commande pour le moment </p>
                    <% end %>
                </div>
                <div id="sales" class="column is-hidden p-0">
                    <h2 class="title is-2 is-size-3-mobile is-text-primary">Mes ventes</h2>
                    <div class="is-flex is-justify-content-space-around is-flex-wrap-wrap">
                        <div class="box box-dashboard pink-shadow">
                            <div class="box-content mb-3">
                                <h3 class="title is-size-4-mobile is-text-info">Aujourd'hui</h3>
                            </div>  
                            <div>
                                <h3 class="subtitle">Total des ventes : <%= sprintf('%.2f', current_myfoodtruck_foodtruck.total_price_orders_current_day) %>€</h3>
                            </div>  
                        </div>
                        <div class="box box-dashboard pink-shadow">
                            <div class="box-content mb-3">
                                <h3 class="title is-size-4-mobile is-text-info">Ce mois</h3>
                            </div>  
                            <div>  
                                <h3 class="subtitle">Total des ventes : <%= sprintf('%.2f', current_myfoodtruck_foodtruck.total_price_orders_current_month) %>€</h3>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-4 panel m-2 p-0 dashboard-vote-panel">
            <p class="panel-heading title has-text-centered is-primary mb-0">
                Mes votes sur les dernières 24h
            </p>
            <% i = 0  %><% j = 0  %>
            <% until i >= 5 %> 
                <div class="panel-block">                  
                    <p class="is-size-5 pt-3 mr-2">
                        <%= j+1 %>.                      
                    </p>
                    <% if @votes_ranking[i+1] != nil %>                        
                        <div class="is-flex is-align-items-center mr-5">
                            <i class="fas fa-thumbs-up fa-2x"></i>
                            <div class="likes-count likes-style">
                                <p class="has-text-centered" id="likes-count"><%= @votes_ranking[i+1] %></p>   
                            </div>       
                        </div>
                        <p>
                            <% if @votes_ranking[i+1] != nil %>
                                <%= Location.find(@votes_ranking[i]).adress %>, <%= Location.find(@votes_ranking[i]).name %>
                            <% end %>                       
                        </p>
                    <%end%>
                </div>
                <% i += 2 %><% j += 1 %>
            <% end %>
        </div> 
    </div>	
</section>

<%= render partial: 'location', locals: {current_myfoodtruck_foodtruck: current_myfoodtruck_foodtruck}%>

<%= javascript_include_tag 'dashboard_foodtruck', media: 'all'%>