<p id="notice"><%= notice %></p>

<h1>Foodtruck Orders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodtruck_orders.each do |foodtruck_order| %>
      <tr>
        <td><%= link_to 'Show', foodtruck_order %></td>
        <td><%= link_to 'Edit', edit_foodtruck_order_path(foodtruck_order) %></td>
        <td><%= link_to 'Destroy', foodtruck_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foodtruck Order', new_foodtruck_order_path %>
