<div class="columns mt-6">
  <div class="column is-half is-offset-one-quarter">
    <h2 class="title has-text-centered">Modifier votre plat</h2>

      <%= form_for [@myfoodtruck, @item] do |f| %>
          <div class="field mx-5 my-3">
            <%= f.label :name, "Nom du produit", class: "label" %>
            <div class="control has-icons-left my-3">
              <%= f.text_field :name, autofocus: true, class: "input", placeholder: "Nom" %>
              <span class="icon is-small is-left">
                <i class="fas fa-child icon-primary-color"></i>
              </span>
            </div> 
          </div>

          <div class="field mx-5 my-3">
            <%= f.label :description, "Description du produit", class: "label" %>
            <div class="control has-icons-left my-3">
              <%= f.text_field :description, autofocus: true, class: "input", placeholder: "Description" %>
              <span class="icon is-small is-left">
                <i class="fas fa-child icon-primary-color"></i>
              </span>
             </div> 
          </div>
          <div class="field mx-5 my-3">
            <%= f.label :price, "Prix", class: "label" %>
            <div class="control has-icons-left my-3">
              <%= f.text_field :price, autofocus: true, class: "input", placeholder: "Prix" %>
              <span class="icon is-small is-left">
                <i class="fas fa-child icon-primary-color"></i>
              </span>
             </div> 
          </div>

        <div class="is-flex is-justify-content-center my-5">
          <%= f.submit "Mettre à jour", class: "button is-primary is-rounded"%>
        </div>

        <div class="pt-4 has-text-centered">
          <%= link_to 'Retournez sur le profil', myfoodtruck_foodtruck_path %>
        </div> 
      <% end %>
  </div>
 </div> 


