<div class="columns mt-6">
  <div class="column is-half is-offset-one-quarter">
    <h2 class="title has-text-centered">Éditez votre identité</h2>

      <%= form_with(model: customer, local: true) do |f| %>
          <div class="field mx-5 my-3">
            <%= f.label :first_name, "Prénom", class: "label" %>
            <div class="control has-icons-left my-3">
              <%= f.text_field :first_name, autofocus: true, class: "input", placeholder: "Prénom" %>
              <span class="icon is-small is-left">
                <i class="fas fa-child icon-primary-color"></i>
              </span>
            </div> 
          </div>

          <div class="field mx-5 my-3">
            <%= f.label :last_name, "Nom de famille", class: "label" %>
            <div class="control has-icons-left my-3">
              <%= f.text_field :last_name, autofocus: true, class: "input", placeholder: "Nom de famille" %>
              <span class="icon is-small is-left">
                <i class="fas fa-child icon-primary-color"></i>
              </span>
             </div> 
          </div>

          <div class="field mx-5 my-3">
            <%= f.label :location_id, "Localisation", class: "label" %>
            <div class="control">
              <div class="select">
                <%= f.select :location_id, @locations.collect { |location| ["#{location.adress} - #{location.name}", location.id] } %>
              </div>
            </div>
          </div>

        <div class="is-flex is-justify-content-center mt-5">
          <%= f.submit "Mettre à jour", class: "button is-success is-rounded" %>
        </div>

        <div class="pt-4 has-text-centered">
          <%= link_to 'Retournez sur le profil', customer_path, class: "button is-primary is-rounded" %>
        </div> 
      <% end %>
  </div>
 </div> 
