<div class="columns"> 
  <div class="card column is-5">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p class="title is-5">Mon profil</p>
        <div class="media-content">
          <p class="subtitle is-6">Nom : <%= @current_customer.last_name%></p>
          <p class="subtitle is-6">Prénom : <%= @current_customer.first_name %></p>
          <p class="subtitle is-6">Email : <%= @current_customer.email %></p>
          <p class="subtitle is-6">Localisation : <%= @current_customer.location_id %></p>
        </div>
      </div>

      <div class="content columns">
        <div class="column is-6">
          <%= link_to "Modifier mon profil", edit_customer_path, class: "button is-pink is-rounded" %>
        </div>
        <div class="column is-6">
          <%= link_to "Modifier mes identifiants", edit_customer_registration_path, class: "button is-pink is-rounded" %>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-7">
    <div class="columns">
          <%= link_to "Voir toutes mes commandes", class: "button is-pink is-rounded column is-6" %>
    </div>
  </div>



</div>