<div class="section">
    <div class="columns is-centered is-flex is-flex-wrap-wrap " >   
        <div class="column box my-order-content is-8 m-3 is-flex is-flex-direction-column is-align-items-center mb-auto">
            <p class="title is-size-4 has-text-centered">Ma commande du <%= order.created_at.strftime("%d/%m/%Y") %> </p>
            <p class="subtitle has-text-centered">
            <%=link_to foodtruck_path(order.order_contents.first.item.foodtruck.id)do%>
             Chez <%= order.order_contents.first.item.foodtruck.name %>
             <%end%>
            </p>
            <% order.order_contents.each do |content| %>
                <div class=" my-order-item box column is-10 is-flex is-align-items-center is-justify-content-space-between is-flex-wrap-wrap">
                    <div class="box-body my-2 is-flex is-align-items-center">
                        <figure class="box-img image mr-5">
                            <%if content.item.picture.attached?%>
                                <%= image_tag content.item.picture %>
                            <%else%>
                                <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?cs=srgb&dl=pexels-foodie-factor-566566.jpg&fm=jpg" alt="food-img" class="menu-item-img">
                            <%end%>    
                        </figure>
                        <div class="box-content mr-5">             
                            <p class="item-title title is-size-5">
                                <%=content.item.name%>
                            </p>
                            <p class="item-price subtitle">
                                <%=sprintf "%.2f", content.item.price%>€
                            </p>
                        </div>
                    </div>
                    <div class="is-flex my-2 is-align-items-center">
                        <div class="quantity mr-5">
                            <p class="button is-outlined">
                            3
                            </p>
                        </div>
                        <div class="quantity-x-item-price mr-5">
                            <p class="is-size-5 has-text-weight-bold ">7,99€</p>
                        </div>
                        <%= link_to root_path, class: "button show-item-button is-rounded is-danger is-light" do %>
                            <span>Voir le plat</span>
                        <% end %>
                    </div>
                </div>
            <%end%>                            
        </div>
    </div>
</div>