
<div class="section">
    <div class=" container box is-flex is-flex-direction-column is-align-items-center item-list"> 
        <p class="title py-5">
            Voici vos commandes, <%= current_customer.first_name %>
        </p>
        <% @orders.each do |order| %>          
          <div class="box column is-7 is-flex is-align-items-center is-justify-content-space-between">
              <div class="box-content">             
                      <p class="item-title title mb-3 mt-2">
                          <%= order.order_contents.first.item.foodtruck.name %>
                      </p>
                      <p class="description">
                          <span>Payé: <%= order.total_price %> €</span>
                      </p>
                      <p class="description">
                          <%= order.created_at.strftime("%d/%m/%Y") %>
                      </p>
                      <div class="box-footer mt-3 mb-2">
                        <%= link_to 'Voir plus', customer_order_path(order), class: "button checkout-button is-rounded" %>
                      </div>
              </div>
              <figure class="box-img image">
                <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?cs=srgb&dl=pexels-foodie-factor-566566.jpg&fm=jpg" alt="food-img" class="menu-item-img">
              </figure>                                   
          </div>
        <%end%>                                             
    </div>
</div>