<div class="section">
    <div class="container">
        <div class="columns is-centered mt-6">
            <div class="column is-5">
                <div class="box signup-form">
                    <div class="box-content">
                        <div class="box-header has-text-centered mb-5">
                            <%=image_tag ("healthy-eating.png")%>
                            <p class="title is-5"> Bienvenue sur Feedtruck !</p>
                        </div>
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                            <%= render "myfoodtruck/foodtrucks/shared/error_messages", resource: resource %>
                            </br>
                            <div class="field">
                                <%= f.label :email, class: "label" %>
                                <div class="control has-icons-left">
                                    <%= f.email_field :email, autofocus: true, class: "input", autocomplete: "email", placeholder: "Email" %>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope web-color"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <%= f.label :password, "Mot de Passe", class: "label" %>
                                <% if @minimum_password_length %>
                                    <em>(<%= @minimum_password_length %> caractères minimum)</em>
                                <% end %><br />
                                <div class="control has-icons-left">
                                    <%= f.password_field :password, class: "input", autocomplete: "new-password", placeholder: "Mot de passe" %>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock web-color"></i>
                                    </span>
                                </div> 
                            </div>

                            <div class="field">
                                <%= f.label :password_confirmation, "Confirmer votre mot de passe", class: "label" %>
                                <div class="control has-icons-left">
                                    <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock web-color"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="actions is-flex is-justify-content-center my-4">
                                <%= f.submit "S'inscrire", class: "button is-pink is-rounded", style: "border: transparent;"%>
                            </div>

                        <% end %>
                        <div class="has-text-centered is-size-5-mobile my-4">
                            <p>Déja inscrit ? Connectez-vous ici : <%= render "myfoodtruck/foodtrucks/shared/links" %></p>
                        </div>
                    </div>
                </div>
                
                   
            </div>
        </div>
    </div>
</div>

