
<div class="section">
    <div class="show-foodtruck container">

        <% if foodtruck.pictures.attached? %>
            <div class="banner-img", style="background-image: url(<%= rails_blob_url(foodtruck.pictures) %>); height: 300px;"></div>
        <% end %>

        <div class="foodtruck-infos columns box pt-5 mt-0 ml-0 mr-0">
            <div class="header column is-9 padding-header-foodtruck">
                <p class="foodtruck-name is-text-primary title is-size-3-mobile is-size-2">
                    <%= foodtruck.name %>
                </p>
                <p class="speciality is-size-6-mobile is-size-6">
                    <%= foodtruck.description %>
                </p>
                <% if foodtruck.location_id !=nil %>
                    <p class="speciality is-size-6-mobile is-size-6 my-2">
                        <b class="is-text-info"> Localisation du jour : </b> <%= Location.find(foodtruck.location_id).adress %>, <%= Location.find(foodtruck.location_id).name %>
                    </p>
                <% end %>
            </div>




<!-- ********************** Vote/like section ********************************** -->
               
                
            <% if !current_myfoodtruck_foodtruck %>
                <% if customer_signed_in? %>
                    <div class="like-section column is-3">
                        <div class="box mt-5 has-text-centered">
                            <div class="price">
                                <p class="title is-size-5">
                                    Je vote pour mon foodtruck préféré
                                </p>
                            </div>
                            <div class="subtile py-5 is-size-6">
                                <% if !current_customer_has_location? %>
                                    <p>Vous devez renseigner une localisation pour pouvoir voter</p>
                                <% elsif current_customer_has_location? && !voted_once? %>
                                    <%= link_to foodtruck_votes_path(@foodtruck.id), method: :post, class:"button is-rounded is-primary" do%>
                                        <span class="icon is-small"><%= image_tag("like.png")%></span>
                                        <p>Viens chez moi</p>
                                    <% end %>
                                <% elsif current_customer_has_location? && !last_vote_over_24? %>
                                    <p>Veuillez attendre 24 heures pour voter à nouveau</p>
                                <% elsif current_customer_has_location? && last_vote_over_24? %>
                                    <%= link_to foodtruck_votes_path(@foodtruck.id), method: :post, class:"button is-rounded is-primary" do%>
                                        <span class="icon is-small"><%= image_tag("like.png")%></span>
                                        <p>Viens chez moi</p>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <%else%>
                <div class="edit-profil-section padding-profil-section-foodtruck">
                    <%=link_to edit_myfoodtruck_foodtruck_path, class:"button is-rounded edit-profil-btn is-success is-largest-btn my-2" do%>
                        <span>Modifier mon profil</span>
                    <%end%>
                    <%=link_to edit_myfoodtruck_foodtruck_registration_path, class:"button is-rounded edit-profil-btn is-primary is-largest-btn my-2" do%>
                        <span>Éditer mes identifiants</span>
                    <% end %>
                </div>
            <% end %>

        </div>


    </div>
</div>


