<div class="section">
        <div class="columns shopping-cart">
            
            <div class="column box cart-box is-8 mx-3 mb-0 mt-3 is-flex is-flex-direction-column is-align-items-center">
                <p class="title">Mon Panier</p>
                <% cart_content.sort.each do |content| %>
                    <div class="cart-item box column is-8 is-flex is-align-items-center is-justify-content-space-between is-flex-wrap-wrap", id="<%= content.created_at %>">
                        <div class="box-body my-2 is-flex is-flex-wrap-wrap is-align-items-center">
                            <figure class="box-img mb-2 cart-item image mr-5">
                                <% if content.item.picture.attached? %>
                                    <%= image_tag content.item.picture, alt: "Thumbnail [100%x225]" %>
                                <%else%>
                                    <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?cs=srgb&dl=pexels-foodie-factor-566566.jpg&fm=jpg" alt="food-img" class="menu-item-img">
                                <%end%>
                            </figure>
                            <div class="box-content mr-5">             
                                <p class="item-title title is-size-5">
                                    <%= content.item.name %>
                                </p>
                                <div class="is-flex my-1 is-align-items-center">
                                    <div class="quantity mr-5">
                                        <p class="item-price subtitle">
                                            <%=content.item.description.truncate(12)%>
                                        </p>
                                    </div>                      
                                </div>
                            </div>
                        </div>
                        <div class="is-flex my-2 is-flex-wrap-wrap is-align-items-center">
<!-- ********************** The code in this section is commented out because [to implement after MVP] ********************************** -->                       
                        <!-- <div class="quantity mb-2 mr-5">
                                <button class="plus-btn" type="button" name="button" style="width: 30px;">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <input type="text" name="name" value="1" class="is-normal has-text-centered" style="width: 40px; height: 25px;">
                                <button class="minus-btn" type="button" name="button"  style="width: 30px;">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div> -->
<!-- ********************** Closing the section mentioned above ********************************** -->                           
                            <div class="quantity-x-item-price is-size-4 mr-5 is-flex is-align-items-center">
                                <p class="is-size-5 has-text-weight-bold"><%= sprintf "%.2f", content.item.price %>€</p>
                                <p class="ml-4 is-size-5">x<%= content.item_quantity %></p>
                            </div> 
                            <%=button_to customer_cart_cart_content_path(content.id), class: "delete-btn", method: :delete, remote: true do%>
                                <i class="fas fa-trash"></i>
                            <%end%>
                        </div>
                    </div> 
                <%end%>                                 
            </div>
            <div class="column is-flex is-flex-direction-column order-infos box ml-3 mt-3">
                <div class="my-4">
                    <% if @cart.items.count > 1 %>
                        <p class="mb-2 is-size-5" id="cart-nb-article"><%= @cart.items.count %> articles</p>
                    <% else %>
                        <p class="mb-2 is-size-5" id="cart-nb-article"><%= @cart.items.count %> article</p>
                    <% end %>

                    <p class="is-size-5">Total TTC: <strong id="cart-total-price"><%= sprintf('%.2f',  @cart.total_price) %>€</strong></p>
                </div>     
                <!-- ********************** The code in this section is commented out because it will be impleted later. We will taylor made the appearance of the stripe button ********************************** -->          
                <!-- <button class="button checkout-button is-rounded mt-5">
                    <p>Stripe ici</p>
                </button> -->
                <!-- ********************** Closing the section mentioned above ********************************** -->
                <% if @cart.total_price > 0 %>
                    <%= form_tag customer_orders_path do %>
                        <article>
                        <% if flash[:error].present? %>
                            <div id="error_explanation">
                                <p><%= flash[:error] %></p>
                            </div>
                        <% end %>
                        </article>
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-label="Payer par carte"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="Paiement de votre commande"
                        data-amount="<%= @cart.total_price*100 %>"
                        data-email=<%= current_customer.email %>
                        data-locale="auto"
                        data-currency="eur">
                        </script>
                    <% end %>
                <% end %>
                <div class="my-4">
                    <%= link_to 'Continuer mon shopping', root_path %> 
                </div>                            
            </div>              
        </div>
</div>
