<div class="section">
  <div class="columns shopping-cart">
    <div class="column box cart-box is-8 is-flex is-flex-direction-column is-align-items-center mx-5 box-cart-min-height">
      <p class="title is-text-primary is-size-4-mobile">Mon Panier</p>
      <% if current_shopping_cart.cart_contents.count == 0 %>
        <p class="is-text-info mt-4 is-size-5">Votre panier est vide.</p>
      <% else %>
        <% current_shopping_cart.cart_contents.sort.each do |content| %>
          <div class="cart-item box column is-8 is-flex is-align-items-center is-justify-content-space-between is-flex-wrap-wrap mb-5", id="<%= content.created_at %>">
            <div class="box-body my-2 is-flex is-flex-wrap-wrap is-align-items-center">
              <figure class="box-img mb-2 cart-item image mr-5">
                <% if content.item.picture.attached? %>
                  <%= image_tag content.item.picture, alt: "Thumbnail [100%x225]" %>
                <%else%>
                  <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?cs=srgb&dl=pexels-foodie-factor-566566.jpg&fm=jpg" alt="food-img" class="menu-item-img">
                <%end%>
              </figure>
              <div class="box-content mr-5">             
                <p class="item-title is-text-primary title is-size-5"><%= content.item.name %></p>
                <div class="is-flex my-1 is-align-items-center">
                  <div class="quantity mr-5">
                    <p class="item-price is-6 subtitle"><%=content.item.description.truncate(12)%></p>
                  </div>                      
                </div>
              </div>
            </div>
            <div class="is-flex my-2 is-flex-wrap-wrap is-align-items-center">                         
              <div class="quantity-x-item-price is-size-4 mr-5 is-flex is-align-items-center">
                <p class="is-size-5 has-text-weight-bold"><%= sprintf "%.2f", content.item.price %>€</p>
                <p class="ml-4 is-size-5">x<%= content.item_quantity %></p>
              </div>
              <%= link_to cart_cart_content_path(content.id), class: "button is-rounded is-danger mr-2", method: :delete, remote: true do %>
                <span class="icon is-small"><i class="fas fa-trash"></i></span>
              <% end %>
            </div>
          </div> 
        <% end %> 
      <% end %>                          
    </div>
    <div class="column is-flex is-flex-direction-column checkout-infos box mx-5 box-cart-min-height">
      <div class="my-4">
        <% if current_shopping_cart.items.count > 1 %>
          <p class="mb-2 is-size-5" id="cart-nb-article"><%= current_shopping_cart.items.count %> articles</p>
        <% else %>
          <p class="mb-2 is-size-5" id="cart-nb-article"><%= current_shopping_cart.items.count %> article</p>
        <% end %>
          <p class="is-size-5">Total TTC : <strong id="cart-total-price"><%= sprintf('%.2f',  current_shopping_cart.total_price) %>€</strong></p>
      </div>
      <% if customer_signed_in? && current_shopping_cart.total_price > 0 %>
        <%= render partial: 'carts/stripe', locals: {current_shopping_cart: current_shopping_cart, total_price: current_shopping_cart.total_price }%>
      <% elsif current_shopping_cart.total_price > 0%>
        <div class="my-2">
          <button class="button is-small-tablet is-rounded is-primary is-largest-btn">
            <span id="guest-payment">Procéder au paiement</span>
          </button>
        </div>
      <% end %>
      <div class="my-2">
        <%= link_to 'Continuer mon shopping', foodtrucks_path, class: "button is-small-tablet is-rounded is-info is-largest-btn" %> 
      </div>  
      
      <% if current_shopping_cart.items.count > 0 %>
        <div class="my-1">
          <%= link_to cart_path, data: { confirm: "Etes vous sur ?" }, method: :delete, class: "button is-small-tablet is-rounded is-danger is-largest-btn" do %>
            <span>Vider le panier</span>
          <% end %>
        </div>
      <% end %>

    </div>              
  </div>
</div>
