<p id="notice"><%= notice %></p>


<% @cart_contents.sort.each do |item| %>
  <tr class="table-light" id="<%= item.created_at%>">
    <td class="border-0 align-middle"><strong><%= item.item.title %><br /></strong></td>
    <td class="border-0 align-middle"><strong><%= item.item.price %>€<br /></strong></td>
    <td><%= link_to "", item_cart_item_path(item.item.id, item.id), method: :delete, remote: true %></td>
  </tr>
<%end%>


<%= link_to 'Back', root_path %>
