
<p>Cher partenaire !</p>
</br>
<p>Vous avez reçu une nouvelle commande. Il s'agit de la commande #<%= @order.id %>.</p>
<p>Voici le contenu de la commande :</p>
<ul>
  <% @order_contents.map do |order_content| %>
	<li><%= order_content.item.name %></li>
  <% end %>
</ul>
</br>
<p>Cette commande est à remettre à <%= @customer.first_name %> <%= @customer.last_name%>.</p>
</br>
<p>Vous pouvez également accéder aux détails de la commande depuis votre espace membre, dans l'onglet mes commandes : <a href="<%= @url %>">Mes commandes</a>.</p>
</br>
<p>À très bientôt, l'équipe FeedTruck !</p>