<div class="section">
    <div class="columns is-variable is-0 is-centered is-vcentered is-multiline checkout-section">
        <div class="column has-text-centered is-6">
            <%= image_tag(item.picture, alt:"image", class:"checkout-section-image")%>
        </div>
        <div class="column is-6">
            <p class="title">
                <%=item.name%>
            </p>
            <p class="subtitle">
            <%=item.description%>
            </p>
            <p class="price is-size-4">
            <%= sprintf('%.2f',  item.price) %>€
            </p>
            <div class="quantity is-flex is-align-items-center mt-4">
                <%= form_with  url: customer_cart_cart_contents_path(item: item.id) do |f| %>
                    <div class="is-flex is-align-items-center">
                        <span class= "is-rounded button width-30" , id="plus-btn"><i class="fas fa-plus"></i></span>
                            <%= f.number_field 'quantity', min: 1, step: 1, class:"mx-2 width-50", value: '1' %>
                        <span class= "is-rounded button width-30" , id="minus-btn"><i class="fas fa-minus"></i></span>
                    </div>
                    <div class="actions mt-4">
                        <%= f.submit "Ajouter au panier", class: "button cart-button is-rounded is-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="tabs item-tabs is-boxed">
            <ul>
                <li class="is-active" data-target="product-description">
                    <a>A propos du plat</a>
                </li>
                <li data-target="additionnal-infos">
                    <a>Autres infos</a>
                </li>
            </ul>
        </div>
        <div id="item-tab-content" class="px-2">
            <div id="product-description">
                <h3 class="is-size-5 title">A propos du plat</h3>
                <p class="manrope">
                    <%= item.description %>
                </p>
            </div>
            <div id="additionnal-infos" class="is-hidden">
                <h3 class="is-size-5 title"> Autres infos</h3>
                <p class="manrope">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum omnis 
                    porro tempore hic minima nihil odio sunt fugit, ipsam similique!
                </p>
            </div>

        </div>
    </div>
</div>