<div class="section">
  <div class="container">
    <div class="title mb-5">
      Les autres plats de ce chef
    </div>
    <% if item.foodtruck.items.count > 3 %>
      <div class="columns is-centered grid-list-display">
        <% item.foodtruck.items.sample(3).each do |food| %>
          <div class="card column other-food-card">
            <%= link_to foodtruck_item_path(food.foodtruck.id, food.id) do %>
              <div class="card-image">
                <figure class="image is-4by3">
                  <%= image_tag(food.picture, alt: "food-img", class: "item-other-image") %>
                </figure>
              </div>       
              <div class="card-content">                    
                <p class="title is-size-4"><%= food.name %></p>
                <p class="subtitle is-size-6"><%= sprintf('%.2f', food.price) %>€</p>
                  <%= link_to customer_cart_cart_contents_path(item: food.id, quantity: '1'), class: "button mt-5 is-primary is-rounded", method:'post', remote: true do %>
                    <span class="icon is-small"><%= image_tag("bag.png") %></span>
                    <span>Ajouter au panier</span>
                  <% end %>
              </div> 
            <%end%>             
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>