<p id="notice"><%= notice %></p>

<h1>Items de <%= link_to "#{@foodtruck.name}", foodtruck_path(@foodtruck.id) %> </h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= link_to 'Show', foodtruck_item_path(item.foodtruck.id, item.id) %></td> |
        <td><%= link_to 'Edit', edit_foodtruck_item_path(item.foodtruck.id, item.id) %></td> |
        <td><%= link_to 'Ajouter au panier', foodtruck_item_cart_contents_path(item.foodtruck.id, item.id) , method: 'post' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_foodtruck_item_path %>
