<!DOCTYPE html>
<html>
  <head>
    <title>Feedtruck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/eb8c289520.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%= render 'layouts/navbar'%>
    </br></br></br>
      <%=render "layouts/flash" %>
          <%= yield %>
      <%= render 'layouts/footer'%>
      <%= javascript_include_tag 'application', media: 'all' %>  
  </body>
</html>
